html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial;
  font-size: 14px;
}

#container {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  margin: 0;
  padding: 0;
  background-color: #445cbc;
  color: #FFF;
  width: 100%;
  height: 40px;
}

header .title {
  font-size: 1.8em;
  float: left;
  margin: 5px 0 0 10px;
}

header #version {
  float: right;
  text-align: right;
  margin: 10px;
  font-size: 1em;
}

section.nav-bar {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  background-color: #333333;
}

section.nav-bar button {
  display: inline-block;
  width: 90px;
  margin: 5px 0 5px 15px;
  padding: 0;
}

section {
  margin: 0;
  padding: 20px;
}

section .title {
  display: block;
  font-size: 1.5em;
  margin: 0;
  padding: 10px 0 0 0;
}

section.content #status {
  display: block;
}

section.content #contentContainer {
  display: none;
}

textarea {
  font-family: Arial;
  font-size: 1em;
}

button {
  /*width: 150px;*/
  min-width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: #929292;
  border: 0 solid #ceebea;
  border-radius: 1em;
  color: #FFFFFF;
  text-transform: uppercase;
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

button:hover {
  background-color: #595959;
}

button.disabled {
  opacity: .5;
  cursor: default;
}

button.disabled:hover {
  background-color: #929292;
}

.table-row {
  display: table-row;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.link {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

th {
  height: 30px;
  text-align: left;
}

th, td {
  padding: 5px;
}

table, th, td {
  border: 1px solid #000000;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media (max-width: 410px) {
  header .title {
    font-size: 1.2em;
    margin: 10px;
  }
}